<% provide :title, t("Help") %>
<h1><%= t "Help" %></h1>
<p>
  <%= t ".get" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rails" %></a>.
  <%= t ".to_get" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".ruby2" %></em>
  <%= t ".book" %>book</a>.
</p>
